<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
	<uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
	<application>
		<activity 
		    android:name="com.WhireDeveloper.PiePlayer.MainActivity"
			android:theme="@style/UnityThemeSelector" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data android:name="unityplayer.UnityActivity" android:value="true"/>
		</activity>
		<activity
            android:name="com.WhireDeveloper.PiePlayer.OpenAudioActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="audio/*"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
            </intent-filter>
        </activity>
		<service
            android:name="com.WhireDeveloper.PiePlayer.MusicService" android:foregroundServiceType="mediaPlayback"
            android:exported="false">
		    <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService"/>
            </intent-filter>
	    </service>
	</application>
</manifest>