<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
	package="com.WhireDeveloper.PiePlayer">
	<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
	<application
	    android:name="com.WhireDeveloper.PiePlayer.MainApplication">
		<activity 
		    android:name="com.WhireDeveloper.PiePlayer.MainActivity"
            android:configChanges="
                mcc|mnc|
                locale|touchscreen|keyboard|keyboardHidden|
                navigation|orientation|screenLayout|
                uiMode|screenSize|smallestScreenSize|
                fontScale|layoutDirection|density"
            android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true"/>
		</activity>
		<service
            android:name="com.WhireDeveloper.PiePlayer.MusicService"
			android:foregroundServiceType="mediaPlayback"
            android:exported="false">
		    <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService"/>
            </intent-filter>
	    </service>
	</application>
</manifest>